@model IEnumerable<Project1.Models.Ogrenci>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create"class="btn btn-outline-warning">
        Create New <span class="material-symbols-outlined">
            add_circle
        </span>
    </a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dtarih)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cinsiyet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sinif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dtarih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cinsiyet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sinif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puan)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-success" asp-route-id="@item.Ogrno">
                        <span class="material-symbols-outlined">
                            edit
                        </span>
                    </a> |
                    <a asp-action="Details"class="btn btn-info" asp-route-id="@item.Ogrno">
                        <span class="material-symbols-outlined">
                            info
                        </span>
                    </a> |
                    <a asp-action="Delete"class="btn btn-danger" asp-route-id="@item.Ogrno">
                        <span class="material-symbols-outlined">
                            delete
                        </span>
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
